__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.Trashes
.git/
.gitignore
pip-log.txt
pip-delete-this-directory.txt
__pycache__
*.pytest_cache/
.mypy_cache/
.pytest_cache/
.DS_Store
data/
results/
TradingBot/
tests/
*.log
